@media all and (min-width: 1250px) {
  .page #global_wrapper.full-content .alignwide {
    margin-left: calc( -75vw / 2 + 100% / 2);
    margin-right: calc( -75vw / 2 + 100% / 2);
    max-width: 75vw; } }

.page #global_wrapper.full-content .alignfull {
  margin-left: calc( -100vw / 2 + 100% / 2);
  margin-right: calc( -100vw / 2 + 100% / 2);
  max-width: 100vw; }

.page #global_wrapper.boxed-content .alignfull {
  margin-left: calc( -100vw / 2 + 100% / 2);
  margin-right: calc( -100vw / 2 + 100% / 2);
  max-width: 100vw; }

/* General Margins */
[class*='wp-block-'],
.gbt_18_tr_banner,
.gbt_18_tr_slider {
  margin-bottom: 2.5rem; }

.gbt_18_tr_banner,
.gbt_18_tr_slider {
  clear: both; }

.wp-block-video video {
  width: 100%; }

.wp-block-cover.alignright, .wp-block-cover.alignleft,
.wp-block-image.alignright,
.wp-block-image.alignleft,
.wp-block-gallery.alignright,
.wp-block-gallery.alignleft {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.entry-content > h1, .entry-content > h2, .entry-content > h3, .entry-content > h4, .entry-content > h5, .entry-content > h6, .entry-content > hr,
.entry-content .content_wrapper > h1,
.entry-content .content_wrapper > h2,
.entry-content .content_wrapper > h3,
.entry-content .content_wrapper > h4,
.entry-content .content_wrapper > h5,
.entry-content .content_wrapper > h6,
.entry-content .content_wrapper > hr {
  margin-top: 32px;
  clear: both; }

.entry-content > hr,
.entry-content .content_wrapper > hr {
  margin-bottom: 2.5rem; }

.entry-content > p,
.entry-content .content_wrapper > p {
  margin-bottom: 1rem !important; }

.entry-content p.has-larger-font-size,
.entry-content p.has-huge-font-size,
.entry-content .content_wrapper p.has-larger-font-size,
.entry-content .content_wrapper p.has-huge-font-size {
  font-size: 42px; }

.entry-content p.has-large-font-size,
.entry-content .content_wrapper p.has-large-font-size {
  font-size: 36px; }

.entry-content p.has-medium-font-size,
.entry-content .content_wrapper p.has-medium-font-size {
  font-size: 20px; }

.entry-content p.has-background,
.entry-content .content_wrapper p.has-background {
  padding: 20px 30px; }

.entry-content .wp-block-cover.aligncenter,
.entry-content .content_wrapper .wp-block-cover.aligncenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .entry-content .wp-block-cover.aligncenter .wp-block-cover-text,
  .entry-content .content_wrapper .wp-block-cover.aligncenter .wp-block-cover-text {
    position: relative; }

.entry-content .wp-block-cover.alignleft .wp-block-cover-text,
.entry-content .content_wrapper .wp-block-cover.alignleft .wp-block-cover-text {
  text-align: left; }

.entry-content .wp-block-cover.alignright .wp-block-cover-text,
.entry-content .content_wrapper .wp-block-cover.alignright .wp-block-cover-text {
  text-align: right; }

.entry-content ul ul li,
.entry-content .content_wrapper ul ul li {
  list-style-type: circle; }

/* Images */
.wp-block-image .alignright {
  margin-left: 1.5rem; }

.wp-block-image .alignleft {
  margin-right: 1.5rem; }

@media all and (max-width: 680px) {
  .wp-block-image .alignright,
  .wp-block-image .alignleft {
    width: 50%; } }

.wp-block-image figcaption {
  margin-top: 10px; }

/* Quotes and Pullquotes */
.wp-block-quote {
  padding: 0 0 0 26px !important; }
  .wp-block-quote.is-style-large p {
    font-size: 31px;
    line-height: 46px;
    font-style: normal; }
  .wp-block-quote.is-style-large cite {
    font-size: 13px; }
  .wp-block-quote:before {
    background-image: none !important; }
  .wp-block-quote p {
    font-size: 21px;
    line-height: 1.7em;
    font-style: normal; }
  .wp-block-quote cite {
    font-size: 13px; }

.wp-block-pullquote {
  color: #555; }
  .wp-block-pullquote.alignright.is-style-solid-color blockquote {
    text-align: right; }
  .wp-block-pullquote.is-style-solid-color blockquote p {
    font-size: 21px;
    line-height: 1.7em;
    font-style: normal; }
  .wp-block-pullquote p {
    font-size: 21px;
    line-height: 1.7em;
    font-style: normal; }
  .wp-block-pullquote cite {
    font-size: 13px;
    text-transform: none;
    color: inherit; }
  .wp-block-pullquote blockquote {
    padding-left: 0; }
    .wp-block-pullquote blockquote:before {
      background-image: none !important; }

/* Embeds */
.wp-block-embed__wrapper:before {
  padding-top: 0 !important; }

/* Subhead */
p.wp-block-subhead {
  font-style: normal; }

/* Drop-Cap Paragraph */
p.has-drop-cap:first-letter {
  margin: .15em 0.2em 0 0 !important; }

/* Cover Image */
.wp-block-cover {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  .wp-block-cover.alignfull, .wp-block-cover.alignwide {
    width: auto;
    clear: both; }
  @media all and (max-width: 479px) {
    .wp-block-cover.alignleft, .wp-block-cover.alignright {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      max-width: 100%;
      float: none; } }

.wp-block-cover::-webkit-scrollbar {
  display: none; }

/* Buttons */
.wp-block-button {
  margin-bottom: 0; }
  .wp-block-button a.wp-block-button__link {
    font-size: 12px;
    font-weight: bold;
    padding: 12px 27px;
    text-transform: uppercase; }

/* Galleries */
.wp-block-gallery {
  padding: 0 !important;
  margin-bottom: calc(2.5rem - 16px); }
  @media all and (max-width: 479px) {
    .wp-block-gallery.alignleft, .wp-block-gallery.alignright {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      max-width: 100%;
      float: none; } }
  .wp-block-gallery .blocks-gallery-item figcaption {
    padding: 40px 0px 5px; }

/* Tables */
.wp-block-table td {
  padding: 0.5rem; }

/* Latest Posts, Archives and Categories */
ul.wp-block-latest-posts li {
  margin: 0 16px 6px 0; }

ul.wp-block-latest-posts,
ul.wp-block-archives,
ul.wp-block-categories {
  padding: 0; }
  ul.wp-block-latest-posts li,
  ul.wp-block-archives li,
  ul.wp-block-categories li {
    list-style-type: none; }
  ul.wp-block-latest-posts .children,
  ul.wp-block-archives .children,
  ul.wp-block-categories .children {
    margin: 0;
    padding-bottom: 0; }
  ul.wp-block-latest-posts .wp-block-latest-posts__post-date,
  ul.wp-block-archives .wp-block-latest-posts__post-date,
  ul.wp-block-categories .wp-block-latest-posts__post-date {
    margin-bottom: 0; }

/* Extender Posts Grid Block */
.gbt_18_tr_posts_grid {
  margin-bottom: 0.5rem; }
  .gbt_18_tr_posts_grid .gbt_18_tr_posts_grid_title {
    color: #000;
    font-weight: bold;
    font-size: 21px;
    font-style: normal;
    line-height: 1.4em; }
  @media all and (min-width: 640px) {
    .gbt_18_tr_posts_grid .gbt_18_tr_posts_grid_wrapper.columns-2 .gbt_18_tr_posts_grid_item {
      width: calc(50% - 30px); } }
  @media all and (min-width: 1024px) {
    .gbt_18_tr_posts_grid .gbt_18_tr_posts_grid_wrapper.columns-3 .gbt_18_tr_posts_grid_item {
      width: calc(33.333333% - 30px); } }
  @media all and (min-width: 640px) and (max-width: 1023px) {
    .gbt_18_tr_posts_grid .gbt_18_tr_posts_grid_wrapper.columns-3 .gbt_18_tr_posts_grid_item {
      width: calc(50% - 30px); } }
  @media all and (min-width: 1240px) {
    .gbt_18_tr_posts_grid .gbt_18_tr_posts_grid_wrapper.columns-4 .gbt_18_tr_posts_grid_item {
      width: calc(25% - 30px); } }
  @media all and (min-width: 1024px) and (max-width: 1239px) {
    .gbt_18_tr_posts_grid .gbt_18_tr_posts_grid_wrapper.columns-4 .gbt_18_tr_posts_grid_item {
      width: calc(33.333333% - 30px); } }
  @media all and (min-width: 640px) and (max-width: 1023px) {
    .gbt_18_tr_posts_grid .gbt_18_tr_posts_grid_wrapper.columns-4 .gbt_18_tr_posts_grid_item {
      width: calc(50% - 30px); } }

/* Extender Banner Block */
.gbt_18_tr_banner .gbt_18_tr_banner_title {
  line-height: 1.391em;
  font-weight: bold; }

.gbt_18_tr_banner .gbt_18_tr_banner_subtitle {
  line-height: 1.5em; }

/* Extender Slider Block */
.gbt_18_tr_slider .gbt_18_tr_slide_title {
  font-weight: bold; }
